#wpadminbar #wp-admin-bar-smart-sections>.ab-item:before{content:'';background:url(../img/smart-sections-adminmenu-icon.png) center center no-repeat!important;height:18px;background-size:18px 18px!important;margin-top:8px;border-radius:50%;padding:0!important;overflow:hidden}.smart-sections-sidebar-help{margin-bottom:10px}#adminmenu #menu-posts-gusta_section .wp-menu-image img,#wpadminbar #wp-admin-bar-smart-sections>.ab-item:before{width:18px;opacity:1!important;-webkit-filter:grayscale(100%);filter:grayscale(100%)}#adminmenu #menu-posts-gusta_section.opensub .wp-menu-name,#adminmenu #menu-posts-gusta_section.wp-menu-open .wp-menu-name,#adminmenu #menu-posts-gusta_section:hover .wp-menu-name,#wpadminbar #wp-admin-bar-smart-sections .ab-item:hover,#wpadminbar #wp-admin-bar-smart-sections.hover>.ab-item{color:#fff!important}#wpadminbar #wp-admin-bar-smart-sections ul .ab-sub-wrapper{margin-top:-26px!important}#adminmenu #menu-posts-gusta_section.opensub .wp-menu-image img,#adminmenu #menu-posts-gusta_section.wp-menu-open .wp-menu-image img,#adminmenu #menu-posts-gusta_section:hover .wp-menu-image img,#wpadminbar #wp-admin-bar-smart-sections .ab-item:hover:before,#wpadminbar #wp-admin-bar-smart-sections.hover>.ab-item:before{-webkit-filter:none!important;filter:none!important}

.acf-switch.-on,li.select2-selection__choice{ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da5f7', endColorstr='#566bf5', GradientType=1 )!important }

#acf-group_58b560d18cd04 .acf-field-radio ul li{float:left}
#acf-group_58b560d18cd04 .acf-field-radio ul li label{display:block!important;/*text-indent:-9999px*/}
#addtag .acf-field,#acf-group_58b560d18cd04 .acf-field-radio ul li label input,div[data-param_type=gusta_sub_groups] .wpb_element_label,div[data-vc-shortcode-param-name*="_inner_tab"] .wpb_element_label,input.gusta_sub_groups{display:none}
#acf-group_58b560d18cd04 .acf-field-radio ul li label.selected{background-position:bottom;color:#2F4163}
#acf-group_58b560d18cd04 .acf-field-radio ul li label span{position:absolute;width:100%;left:50%;transform:translateX(-50%);top:58px;vertical-align:top}
div[data-key*=gusta_header_sections_tab]>.acf-label>label:before,div[data-key*=gusta_footer_sections_tab]>.acf-label>label:before,div[data-key*=gusta_content_sections_tab]>.acf-label>label:before,div[data-key*=gusta_sticky_sections_tab]>.acf-label>label:before{content:"";height:27px;width:48px;left:22px;top:17px;position:absolute}
#acf-gusta_section_options .inside.acf-fields{min-height:678px}
div[data-name*="_sections_tab"] .acf-fields{display:none}
div[data-name*=header_sections_tab] .acf-fields{display:block}
#acf-group_single_archive_sections_meta_box .acf-fields.-sidebar:before,#acf-gusta_section_options .acf-fields.-sidebar:before{background:#293a52!important;border-right:#364f72 solid 1px!important;margin-top:-20px!important}
#acf-group_single_archive_sections_meta_box .acf-fields.-sidebar>.acf-tab-wrap.-left .acf-tab-group li a,#acf-gusta_section_options .acf-fields.-sidebar>.acf-tab-wrap.-left .acf-tab-group li a{border:1px solid #364f72!important;color:#fff!important;padding:14px!important}
#acf-group_single_archive_sections_meta_box .acf-fields.-sidebar>.acf-tab-wrap.-left .acf-tab-group li a:hover,#acf-gusta_section_options .acf-fields.-sidebar>.acf-tab-wrap.-left .acf-tab-group li a:hover{color:#0073aa!important}
#acf-group_single_archive_sections_meta_box div[data-name*="_sections_tab"],#acf-gusta_section_options div[data-name*="_sections_tab"]{border-bottom:none!important;background-color:#FFF!important;margin:20px!important;border:1px solid #e7eaf1!important;border-radius:10px!important;padding:0!important}
#acf-group_single_archive_sections_meta_box div[data-name*=gusta_override_section_options],#acf-gusta_section_options div[data-name*=gusta_override_section_options]{margin:20px!important;padding-top:5px!important}
#acf-group_single_archive_sections_meta_box div[data-name*="_sections_tab"]>.acf-label>label,#acf-gusta_section_options div[data-name*="_sections_tab"]>.acf-label>label{padding:22px 22px 12px 88px!important}
div[data-key*=gusta_header_sections_tab]>.acf-label>label:before{background-image:url(../img/accordion_header.png)}
div[data-key*=gusta_footer_sections_tab]>.acf-label>label:before{background-image:url(../img/accordion_footer.png)}
div[data-key*=gusta_content_sections_tab]>.acf-label>label:before{background-image:url(../img/accordion_content.png)}
div[data-key*=gusta_sticky_sections_tab]>.acf-label>label:before{background-image:url(../img/accordion_sticky.png)}
div[data-name*="_sections_tab"].acf-field-group>.acf-label>label:after{content:"\f345";position:absolute;right:21px;font-family:dashicons;font-size:16px;color:#C1C9DE}
div[data-name*="_sections_tab"].acf-field-group.gusta_tab_active>.acf-label>label:after{content:"\f347"!important;color:#0982FF}
div[data-name*="_sections_tab"].acf-field-group>.acf-label>label:hover:after{color:#0982FF}
#acf-gusta_section_options div[data-name*="_sections_tab"].acf-field-group>.acf-label>label:hover,div[data-name*="_sections_tab"].acf-field-group.gusta_tab_active>.acf-label>label{color:#143377!important}
#acf-group_single_archive_sections_meta_box .acf-fields.-sidebar>.acf-tab-wrap.-left .acf-tab-group li.active a,#acf-gusta_section_options .acf-fields.-sidebar>.acf-tab-wrap.-left .acf-tab-group li.active a{border:none!important;color:#293A52!important}
div[data-name*="_sections_tab"] .acf-fields{border-bottom:0!important;border-left:0!important;border-right:0!important;background-color:#f2f4f9!important;padding:8px 8px 20px!important;border-radius:0 0 9px 9px!important}
.select2-selection,div[data-name*="_sections_tab"] .acf-fields>.acf-field{border:none!important}tr .select2-selection{border:1px solid #dbdbdb!important}div[data-name*="_sections_tab"] .acf-label label{color:#6b707b!important;font-weight:500!important}
#acf-gusta_section_options .acf-fields.-sidebar>.acf-tab-wrap.-left .acf-tab-group{margin-top:-19px!important}.select2-search input{padding:20px!important}
#acf-gusta_section_options .acf-switch.-on{background:-webkit-linear-gradient(left,#4da5f7 0,#566bf5 100%)!important;background:-o-linear-gradient(left,#4da5f7 0,#566bf5 100%)!important;background:linear-gradient(to right,#4da5f7 0,#566bf5 100%)!important}
#acf-gusta_section_options .acf-label p.description{color:#AFB3BF!important}
.acf-field-smart-sections-theme-compatibility-message p{background-color:#fff6d9;padding:15px 15px 15px 60px;border-radius:7px;border:1px solid #ffc800}
.acf-field-smart-sections-theme-compatibility-message p:before{content:"\f534";left:20px;color:#FF9800;font-family:dashicons;position:absolute;top:12px;font-size:25px}

.menu-item-settings{overflow:auto}

.acf-settings-wrap .gusta-admin-fixed{position:fixed;top:50px}

.wp-admin select[multiple]{max-height:40px!important}

.ace_editor{margin-top:7px;height:450px}

#acf-gusta_code_before_body,#acf-gusta_code_before_head,#acf-gusta_custom_css,#acf-gusta_custom_js{display:none}

.vc_shortcode-param{padding-top:0!important;padding-bottom:20px!important}

.gusta_section_purpose ul li{width:95px;height:53px;margin:10px 20px 42px 0!important}.gusta_section_purpose ul li label{width:95px;height:53px;text-indent:0;text-align:center;line-height:14px;color:#9D9FA0}

.gusta_section_purpose li:nth-child(1) label{background-image:url(../img/smart_sections_content_icon.jpg)}.gusta_section_purpose li:nth-child(2) label{background-image:url(../img/smart_sections_header_top_icon.jpg)}.gusta_section_purpose li:nth-child(3) label{background-image:url(../img/smart_sections_mega_menu_icon.jpg)}.gusta_section_purpose li:nth-child(4) label{background-image:url(../img/smart_sections_footer_bottom_icon.jpg)}.gusta_section_purpose li:nth-child(5) label,.gusta_section_purpose li:nth-child(6) label{background-image:url(../img/smart_sections_sticky_icon.jpg)}.gusta_section_purpose li:nth-child(6) label{background-image:url(../img/smart_sections_sidebar_icon.jpg)}.gusta_section_purpose li:nth-child(7) label{background-image:url(../img/smart_sections_header_left_icon.jpg)}.gusta_section_purpose li:nth-child(8) label{background-image:url(../img/smart_sections_card_listing_icon.jpg)}.gusta_archive_columns ul li,.gusta_page_layout ul li{width:76px;height:74px;margin:10px 20px 10px 0!important}

div[data-param_type=gusta_sub_groups] .edit_form_line{position:fixed;background:#f6f5fa;width:inherit;margin:-92px -15px 0;height:32px;overflow-y:visible;overflow-x:visible;padding-top:8px;text-align:center}div[data-param_type=gusta_sub_groups],div[data-vc-shortcode*=gusta_] .vc_edit-form-tab,div[data-vc-shortcode*=gusta_] .vc_edit_form_elements,div[data-vc-shortcode*=gusta_] .vc_panel-tabs,div[data-vc-shortcode*=gusta_] .vc_ui-panel-content,div[data-vc-shortcode*=gusta_] .vc_ui-panel-content-container,div[data-vc-shortcode*=gusta_] .vc_ui-panel-window-inner,div[data-vc-shortcode-param-name*="_tg_inner_tab"]{width:inherit!important}label.vc_sub_group span{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:4px 20px;font-size:11px;text-transform:uppercase;font-weight:600;-moz-border-radius:17px/16px;-webkit-border-radius:17px/16px;border-radius:17px/16px;position:relative}label.vc_sub_group input:checked+span,label.vc_sub_group span:hover{background-color:#797f90;color:#fff}div[data-vc-shortcode-param-name*="_inner_tab"]{text-align:center;margin-top:-30px;margin-bottom:-10px}div[data-vc-shortcode-param-name*="_inner_tab"] .edit_form_line{position:fixed;z-index:2000;background:#fff;width:inherit;padding:0!important;margin:-42px 0 0 -15px}div[data-vc-shortcode-param-name*="_inner_tab"] label{display:inline-block;margin-top:4px}div[data-vc-shortcode-param-name*="_inner_tab"] label span{width:50px;height:25px;display:inline-block;text-align:center;line-height:21px;padding:0 20px 0 30px;font-weight:600;text-transform:capitalize;color:#969595;position:relative;font-size:12px}div[data-vc-shortcode-param-name*="_inner_tab"] input:checked+span,div[data-vc-shortcode-param-name*="_inner_tab"] label span:hover{color:#000}div[data-vc-shortcode-param-name*="_inner_tab"] input+span::before{content:'';position:absolute;top:0;left:10px;height:19px;width:18px;background:url(../img/ss_normal-hover-active-icons.png) no-repeat;margin-top:1px}input[id*="_inner_tab-normal"]+span::before{background-position:0 0!important}input[id*="_inner_tab-hover"]+span::before{background-position:-18px 0!important}input[id*="_inner_tab-active"]+span::before{background-position:-36px 0!important}div[data-vc-shortcode-param-name*="_inner_tab"] input[id*="_inner_tab-normal"]:checked+span::before,input[id*="_inner_tab-normal"]+span:hover::before{background-position:0 -19px!important}div[data-vc-shortcode-param-name*="_inner_tab"] input[id*="_inner_tab-hover"]:checked+span::before,input[id*="_inner_tab-hover"]+span:hover::before{background-position:-18px -19px!important}div[data-vc-shortcode-param-name*="_inner_tab"] input[id*="_inner_tab-active"]:checked+span::before,input[id*="_inner_tab-active"]+span:hover::before{background-position:-36px -19px!important}div[data-vc-shortcode-param-name*="_inner_tab"] input,div[data-vc-shortcode-param-name*="_hover_tg"].wpb_el_type_advanced_css,div[data-vc-shortcode-param-name*="_active_tg"].wpb_el_type_advanced_css{display:none}.vc_advanced_css p{color:#999!important;font-weight:400;margin-top:-10px}.vc_advanced_css label,div[data-vc-shortcode-param-name*="_tg_background_image"] .wpb_element_label{font-weight:600!important;font-size:13px}.gusta_left_column{width:327px;display:block;float:left;padding-right:20px}.gusta_column_inner,.gusta_right_column{float:left;padding-right:15px;display:block}.gusta_right_column{width:calc(100% - 370px)}.gusta_column_inner{width:calc(50% - 8px)}.gusta_column_inner:nth-child(odd){padding-right:0!important}.gusta-admin-text-style input.text_style,.gusta-admin-text-style select.text_style,.vc_advanced_css input.advanced_css,.vc_advanced_css select.advanced_css{font-weight:400;margin:4px 0 15px!important;height:27px!important;line-height:27px;font-size:13px!important;padding:0 2px!important;border-radius:5px;border:1px solid #ddd;color:#999}/*.vc_advanced_css input.wp-color-picker,.wp-color-result,.wp-core-ui .button.button-small{margin:4px 0 0 4px!important;line-height:25px!important;height:25px!important;box-shadow:none!important;border:1px solid #ddd!important;border-radius:5px!important;z-index:1;position:relative}.wp-color-result{margin-left:0!important;line-height:26px!important;height:26px!important}.wp-color-result-text{line-height:24px!important}*/.main_advanced_css{position:relative;height:350px;min-width:625px}.main_advanced_css input{z-index:1000}.margin_container label{position:absolute;font-size:9px;line-height:9px;top:18px;left:109px;color:#2C2C2C;margin:0;padding:0}.border_container label{left:63px}.padding_container label{left:10px}.more_advanced_css{position:relative;clear:both}.border_container,.css_center,.margin_container,.padding_container{margin:47px;position:relative;border:1px solid #bababa}.margin_container{border:1px solid #ddd;margin:1px;width:322px;border-radius:5px}.border_container{border:1px solid #ddd;background:#f7f7f9;border-radius:10px;width:auto;min-width:228px}.padding_container{border:1px solid #c4c3c9;background:#efeef3;width:auto;min-width:134px;border-radius:3px}.css_top{top:11px;left:50%;transform:translateX(-50%)}.css_right{right:6px;top:50%;transform:translateY(-50%)}.css_bottom{bottom:11px;left:50%;transform:translateX(-50%)}.css_left{left:7px;top:50%;transform:translateY(-50%)}.css_center{height:40px;min-width:40px;display:block;width:auto;text-align:center;border-radius:50%}.css_center .fa-heart{font-size:24px;color:#ccd0dc;margin:8px}.advanced_css_output{display:none}.vc_advanced_css input.css_box{position:absolute;text-align:center;padding:3px 0!important;height:24px;width:34px!important;margin:0!important;border:1px solid #ccc!important;font-size:11px!important;line-height:11px;border-radius:3px}.vc_properties-list input,.vc_properties-list select{border-radius:5px!important;border:1px solid #ddd!important}input[data-attr=border-top-left-radius]{border-top-left-radius:10px!important;left:-1px;top:-1px}input[data-attr=border-top-right-radius]{border-top-right-radius:10px!important;right:-1px;top:-1px}input[data-attr=border-bottom-right-radius]{border-bottom-right-radius:10px!important;right:-1px;top:206px}input[data-attr=border-bottom-left-radius]{border-bottom-left-radius:10px!important;left:-1px;top:206px}.gusta_background_field{height:116px;display:block}div[data-vc-shortcode-param-name*="_tg_background_image"]{display:block;left:362px!important;padding-left:0;width:285px!important;padding-bottom:0!important;height:105px;position:absolute;top:65px}.gallery_widget_add_images .vc-composer-icon::before{font-family:FontAwesome!important;content:'\f067'!important;color:#ccd0dc!important;font-size:28px!important}.gallery_widget_add_images:hover .vc-composer-icon::before{color:#b0b6c6!important}.gallery_widget_add_images,.gallery_widget_attached_images .added{border:1px solid #ddd!important;border-radius:5px;background-color:#eeeff3}.gallery_widget_attached_images .vc-c-icon-close::before{font-family:FontAwesome!important;content:'\f00d'!important}.gallery_widget_attached_images .vc-c-icon-close{color:red!important;font-size:28px!important}label.overlay_gradient_direction{display:inline-block;height:28px;width:28px}.gradient_field,.overlay_gradient_direction input{display:none}.overlay_gradient_direction span::before{content:'';position:absolute;line-height:28px;width:28px;font-family:FontAwesome;font-size:18px;color:#ccc;text-align:center;z-index:1}.overlay_gradient_direction span::after{content:'';position:absolute;height:26px;width:26px;display:block;border:1px solid #ddd;border-radius:5px;z-index:0}label[data-position*=top] span::before{content:'\f063'}label[data-position=left] span::before{content:'\f061'}label[data-position*=top-left] span::before{transform:rotate(-45deg)}label[data-position*=bottom-left] span::before{content:'\f061';transform:rotate(-45deg)}label[data-position*=radial] span::before{content:'\f10c'}label.overlay_gradient_direction input:checked+span::before{color:#fff}label.overlay_gradient_direction input:checked+span::after{background-color:#0674b1}p.box_shadow_desc,p.gradient_desc{margin:0;line-height:1.1;color:#999}div[data-vc-shortcode-param-name*="_containerhover"],div[data-vc-shortcode-param-name*="_containeractive"]{display:none}.gusta-admin-text-style label{display:inline-block;width:135px;margin-right:15px;font-weight:600;font-size:13px;vertical-align:top}.gusta-admin-text-style label *{font-weight:400}.gusta-admin-text-style label.text_color_label{width:270px}.wpb_el_type_advanced_css .wp-picker-container,.wpb_el_type_text_style .wp-picker-container{margin-top:0!important}.text_style_output{display:none}.ui-sortable .vc_container-block *{opacity:1!important}.vc_sub_group{position:relative}.vc_sub_group-radio{height:100%;display:inline-table;top:30px;position:absolute;margin-top:0;z-index:999999;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#fff;-moz-box-shadow:0 14px 40px rgba(87,87,87,.1);-webkit-box-shadow:0 14px 40px rgba(87,87,87,.1);box-shadow:0 14px 40px rgba(87,87,87,.1);width:70px;right:0;transition:all .1s ease .2s;opacity:0}

.vc_sub_group:hover .vc_sub_group-radio{transition:all 0s ease 0s;opacity:1}.vc_sub_group-radio:hover .vc_sub_group-title{background-color:#797f90;-moz-box-shadow:1px 5px 9px rgba(42,58,103,.18);-webkit-box-shadow:1px 5px 9px rgba(42,58,103,.18);box-shadow:1px 5px 9px rgba(42,58,103,.18);color:#fff}.vc_edit_form_elements .vc_column-with-padding,div[data-vc-shortcode*=gusta_] .vc_edit_form_elements .vc_column+.vc_column{padding-top:0!important}div[data-vc-shortcode*=gusta_] .vc_general.vc_ui-tabs-line>li:nth-last-child(2).vc_active>button.vc_ui-tabs-line-trigger{background-color:#F6F5FA!important}.vc_ui-panel .vc_panel-tabs>.vc_edit-form-tab.vc_active{margin-left:-18px!important}div[data-vc-shortcode*=gusta_] .vc_media-xs .vc_col-xs-12,div[data-vc-shortcode*=gusta_] .vc_ui-flex-row [class*=vc_col-]{padding-right:30px!important}

.column-primary .row-actions .edit_vc,.menu-item:not(.menu-item-depth-0) .acf-field-gusta-mega-menu,.post-type-gusta_section #preview-action,.post-type-gusta_section .vc_control-preview{display:none!important}

.select2-container--default .select2-search--inline .select2-search__field{width:initial!important;padding:0 11px!important;margin-bottom:7px!important}li.select2-selection__choice{border:none!important;padding:6px 11px!important;margin-left:6px!important;margin-top:10px!important;color:#fff!important;background:-webkit-linear-gradient(left,#4da5f7 0,#566bf5 100%)!important;background:-o-linear-gradient(left,#4da5f7 0,#566bf5 100%)!important;background:linear-gradient(to right,#4da5f7 0,#566bf5 100%)!important}li.select2-selection__choice span{margin-right:6px!important;margin-left:-2px!important;color:#2560B3!important}

.select2-dropdown{border:none!important;background-color:#334C67!important;padding:11px!important;color:#fff!important}.select2-container--default .select2-results__option[aria-selected=true]{background-color:#4B698A!important;color:#8699AF!important}div[data-vc-shortcode*=gusta_] ul.vc_autocomplete.ui-sortable input.vc_auto_complete_param{border:none!important;box-shadow:none!important}

div#acf-gusta_google_fonts_options .select2.select2-container{border:1px solid #DDD!important}td.column-purpose,th.column-purpose{width:200px}td.column-preview,th.column-preview{width:400px}td.column-preview img{width:100%}@media screen and (max-width:767px){div[data-param_type=gusta_sub_groups],div[data-vc-shortcode*=gusta_] .vc_edit-form-tab,div[data-vc-shortcode*=gusta_] .vc_edit_form_elements,div[data-vc-shortcode*=gusta_] .vc_panel-tabs,div[data-vc-shortcode*=gusta_] .vc_ui-panel-content,div[data-vc-shortcode*=gusta_] .vc_ui-panel-content-container,div[data-vc-shortcode*=gusta_] .vc_ui-panel-window-inner,div[data-vc-shortcode-param-name*="_tg_inner_tab"]{width:auto!important}div[data-param_type=gusta_sub_groups]{width:calc(100% + 48px)!important}div[data-param_type=gusta_sub_groups] .edit_form_line{position:relative!important;margin-top:-23px!important}div[data-vc-shortcode-param-name*="_inner_tab"]{position:relative;top:45px;left:0;margin-bottom:40px;width:calc(100% + 48px)!important}div[data-vc-shortcode-param-name*="_inner_tab"] .edit_form_line{position:relative!important}div[data-vc-shortcode-param-name*="_tg_background_image"]{top:113px!important}.vc_ui-panel-content-container{margin-top:0!important}}@media screen and (max-width:680px){div[data-vc-shortcode-param-name*="_tg_background_image"]{left:15px!important;top:450px!important}.gusta_left_column,.gusta_right_column{clear:both!important;width:442px!important}}@media screen and (max-width:500px){.gusta_left_column,.gusta_right_column{width:290px!important}}
#vc_ui-panel-edit-element .vc_wrapper-param-type-gusta_sub_groups .wpb_element_label, #vc_ui-panel-edit-element .vc_wrapper-param-type-gusta_radio .wpb_element_label { display: none !important; height: 0 !important; } .vc_wrapper-param-type-advanced_css .wpb_element_label, div[data-vc-shortcode-param-name*="tg_background_image"] .wpb_element_label { background-color:#fff !important; } .advanced_css.colorpicker, .text_style.colorpicker { display: block; background: #fff; width: 150px; }
/*.wp-picker-container .wp-color-result, .wp-picker-container .wp-picker-input-wrap input:nth-child(2) { margin-top: 0px !important; }
.wp-picker-container .wp-picker-input-wrap input:first-child { display: block !important; }
.wp-picker-container .wp-picker-input-wrap { margin-top: 0px !important; padding: 0 !important; }
.wp-picker-container .wp-picker-input-wrap .advanced_css.colorpicker { margin: 0 !important; }
.iris-picker-inner > .iris-alpha-slider:nth-child(4), .iris-picker-inner > .iris-alpha-slider:nth-child(5) { display: none !important; }
.vc_shortcode-param.mpc-color-picker .vc_alpha-container { display: block; }*/
.colorpicker { z-index: 100000000 !important; }
div[data-vc-shortcode*="gusta"] .hide {display: inherit !important;}
.gusta_section_page_demo-import .ocdi__gl-navigation { display: none; }
/*.post-type-gusta_section #postcustom {
    display: none;
}*/
div[data-vc-shortcode*="gusta"] .fa, div[data-vc-shortcode*="gusta"] .fad, div[data-vc-shortcode*="gusta"] .far, div[data-vc-shortcode*="gusta"] .fas, div[data-vc-shortcode*="gusta"] .fal {
    font-family: 'FontAwesome' !important;
}