.wpb-layout-element-button[data-element=gusta_container] .vc_element-icon, div[class*="gusta_container"]>.wpb_element_wrapper>.wpb_element_title>.vc_element-icon { background-image: url(../img/ss_smart_container_icon.png); }
.wpb-layout-element-button[data-element=gusta_section] .vc_element-icon, div[class*="gusta_section"] .vc_element-icon { background-image: url(../img/ss_smart_section_icon.png); }
.wpb-layout-element-button[data-element=gusta_site_logo] .vc_element-icon, div[class*="gusta_site_logo"] .vc_element-icon { background-image: url(../img/ss_site_logo_icon.png); }
.wpb-layout-element-button[data-element=gusta_navigation] .vc_element-icon, div[class*="gusta_navigation"] .vc_element-icon { background-image: url(../img/ss_navigation_icon.png); }
.wpb-layout-element-button[data-element=gusta_section_toggle] .vc_element-icon, div[class*="gusta_section_toggle"] .vc_element-icon { background-image: url(../img/ss_section_toggle_icon.png); }
.wpb-layout-element-button[data-element=gusta_search_box] .vc_element-icon, div[class*="gusta_search_box"] .vc_element-icon { background-image: url(../img/ss_search_box_icon.png); }
.wpb-layout-element-button[data-element=gusta_breadcrumb] .vc_element-icon, div[class*="gusta_breadcrumb"] .vc_element-icon { background-image: url(../img/ss_breadcrumb_icon.png); }
.wpb-layout-element-button[data-element=gusta_author_info_box] .vc_element-icon, div[class*="gusta_author_info_box"] .vc_element-icon { background-image: url(../img/ss_author_info_box_icon.png); }
.wpb-layout-element-button[data-element=gusta_social_media_links] .vc_element-icon, div[class*="gusta_social_media_links"] .vc_element-icon { background-image: url(../img/ss_social_media_links_icon.png); }
.wpb-layout-element-button[data-element=gusta_social_sharing_box] .vc_element-icon, div[class*="gusta_social_sharing_box"] .vc_element-icon { background-image: url(../img/ss_social_sharing_box_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_listing] .vc_element-icon, div[class*="gusta_post_listing"] .vc_element-icon { background-image: url(../img/ss_post_listing_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_excerpt] .vc_element-icon, div[class*="gusta_post_excerpt"] .vc_element-icon { background-image: url(../img/ss_post_excerpt_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_title] .vc_element-icon, div[class*="gusta_post_title"] .vc_element-icon { background-image: url(../img/ss_post_title_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_featured_image] .vc_element-icon, div[class*="gusta_post_featured_image"] .vc_element-icon { background-image: url(../img/ss_post_featured_image_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_featured_image_as_background] .vc_element-icon, div[class*="gusta_post_featured_image_as_background"] .vc_element-icon { background-image: url(../img/ss_post_featured_image_as_background_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_date] .vc_element-icon, div[class*="gusta_post_date"] .vc_element-icon { background-image: url(../img/ss_post_date_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_author] .vc_element-icon, div[class*="gusta_post_author"] .vc_element-icon { background-image: url(../img/ss_post_author_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_categories] .vc_element-icon, div[class*="gusta_post_categories"] .vc_element-icon { background-image: url(../img/ss_post_categories_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_tags] .vc_element-icon, div[class*="gusta_post_tags"] .vc_element-icon { background-image: url(../img/ss_post_tags_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_taxonomies] .vc_element-icon, div[class*="gusta_post_taxonomies"] .vc_element-icon { background-image: url(../img/ss_post_taxonomies_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_custom_field] .vc_element-icon, div[class*="gusta_post_custom_field"] .vc_element-icon { background-image: url(../img/ss_post_custom_field_icon.png); }
.wpb-layout-element-button[data-element=gusta_facebook_comment_box] .vc_element-icon, div[class*="gusta_facebook_comment_box"] .vc_element-icon { background-image: url(../img/ss_facebook_comment_box_icon.png); }
.wpb-layout-element-button[data-element=gusta_disqus_comment_box] .vc_element-icon, div[class*="gusta_disqus_comment_box"] .vc_element-icon { background-image: url(../img/ss_disqus_comment_box_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_read_more_button] .vc_element-icon, div[class*="gusta_post_read_more_button"] .vc_element-icon { background-image: url(../img/ss_post_read_more_button_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_content] .vc_element-icon, div[class*="gusta_post_content"] .vc_element-icon { background-image: url(../img/ss_post_content_icon.png); }
.wpb-layout-element-button[data-element=gusta_text] .vc_element-icon, div[class*="gusta_text"] .vc_element-icon { background-image: url(../img/ss_text_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_author_image] .vc_element-icon, div[class*="gusta_post_author_image"] .vc_element-icon { background-image: url(../img/ss_post_author_image_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_carousel] .vc_element-icon, div[class*="gusta_post_carousel"] .vc_element-icon { background-image: url(../img/ss_post_carousel_icon.png); }
.wpb-layout-element-button[data-element=gusta_add_to_cart] .vc_element-icon, div[class*="gusta_add_to_cart"] .vc_element-icon { background-image: url(../img/ss_gusta_add_to_cart_button_icon.png); }
.wpb-layout-element-button[data-element=gusta_product_price] .vc_element-icon, div[class*="gusta_product_price"] .vc_element-icon { background-image: url(../img/ss_gusta_product_price_icon.png); }
.wpb-layout-element-button[data-element=gusta_post_filter] .vc_element-icon, div[class*="gusta_post_filter"] .vc_element-icon { background-image: url(../img/ss_gusta_post_filter.png); }
.wpb-layout-element-button[data-element=gusta_taxonomy_listing] .vc_element-icon, div[class*="gusta_taxonomy_listing"] .vc_element-icon { background-image: url(../img/ss_gusta_taxonomy_listing.png); }