/*
Theme Name: Dojo Child Theme
Description: This is a custom child theme for Salient
Theme URI:   https://dorset.tech
Author: Dorset Tech
Author URI:  https://dorset.tech
Template: dojo
Version: 1.0
*/

@font-face {
    font-family: 'Sentinel Pro';
    src: url('/wp-content/themes/dojo-child/fonts/SentinelPro-Light.eot');
    src: url('/wp-content/themes/dojo-child/fonts/SentinelPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/SentinelPro-Light.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/SentinelPro-Light.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/SentinelPro-Light.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/SentinelPro-Light.svg#SentinelPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentinel Pro';
    src: url('/wp-content/themes/dojo-child/fonts/SentinelPro-Medium.eot');
    src: url('/wp-content/themes/dojo-child/fonts/SentinelPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/SentinelPro-Medium.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/SentinelPro-Medium.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/SentinelPro-Medium.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/SentinelPro-Medium.svg#SentinelPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Black.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Black.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Black.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Black.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Thin.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Thin.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts//wp-content/themes/dojo-child/fonts/Gotham-Thin.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Thin.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-MediumItalic.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-MediumItalic.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-MediumItalic.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-ThinItalic.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-ThinItalic.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-ThinItalic.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-UltraItalic.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-UltraItalic.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-UltraItalic.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Light.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Light.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Light.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Light.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Bold.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Bold.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Bold.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Bold.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Medium.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Medium.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Medium.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Medium.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-XLight.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-XLight.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-XLight.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-XLight.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-XLight.svg#Gotham-XLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-XLightItalic.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-XLightItalic.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-XLightItalic.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-XLightItalic.svg#Gotham-XLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Bold_1.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Bold_1.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Bold_1.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Bold_1.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Bold_1.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Light_1.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Light_1.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Light_1.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Light_1.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Light_1.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Light_1.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-BoldItalic.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BoldItalic.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BoldItalic.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Book.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Book.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Book.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Book.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic_1.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic_1.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic_1.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic_1.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic_1.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-BookItalic_1.svg#Gotham-BookItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-LightItalic.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-LightItalic.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-LightItalic.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Medium_1.eot');
    src: url('/wp-content/themes/dojo-child/fonts/Gotham-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Medium_1.woff2') format('woff2'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Medium_1.woff') format('woff'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Medium_1.ttf') format('truetype'),
        url('/wp-content/themes/dojo-child/fonts/Gotham-Medium_1.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

p {
 font-family:'Gotham'!important;
 font-weight:400;
 font-size:14px;
}

h2, body h2, h3, body h3 {
 font-family:'Sentinel Pro'!important;
 font-weight:300!important;
 font-style: normal;
}

h4, body h4 {
 font-family:'Sentinel Pro'!important;
 font-weight:400!important;
 font-style: normal;
}

.learnMre {
 width:50%!important;
}

strong {
 font-family: 'Gotham'!important;
 font-weight: 500;
 font-size:14px;
}

.banTitle {
 font-family:'Sentinel Pro'!important;
 font-weight:500;
}

.pinkLink p{
 font-family:'Gotham'!important;
 color:#ff0060!important;
 font-weight:500!important;
}

.banText {
	font-family:'Gotham'!important;
	font-weight:300;
}

.twoBlock .by p{
	color:#66757f;
	font-weight:500!important;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:2px;
	margin-top:20px;
}

.twoBlock .btns{
	color:#000000;
	font-family:'Gotham'!important;
	font-weight:500!important;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:2px;
	background-color:transparent!imporetant;
	padding:0px!important;
}

.twoBlock .btns:before{
	content:'|';
	text-align:center;
	display:block;
}

.twoBlock .btns:hover{
	color:#ff0060!important;
}

.value {
 width:50%!important;
}



/* AR Fixes  */

#header-outer[data-full-width=true] header>.container, body[data-slide-out-widget-area-style=simple] #header-outer[data-full-width=true] #mobile-menu {
    width: 100%;
    max-width: 100%;
    padding: 0 80px!important;
}

#header-outer #top .left-aligned-ocm .label {
    margin: 0 0 0 15px;
    color: #000000;
    font-family: 'Gotham'!important;
    font-weight: 500!important;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    margin-bottom: -5px;
}

.slide-out-widget-area-toggle .lines-button:after, body .lines, body .lines:after, body .lines:before {
    height: 1px;
}

.lines:before, body[data-slide-out-widget-area-style=slide-out-from-right-hover] .slide-out-hover-icon-effect.slide-out-widget-area-toggle.small .lines:before {
    width: 100%!important;
    top: 6px;
}

.lines:after, body[data-slide-out-widget-area-style=slide-out-from-right-hover] .slide-out-hover-icon-effect.slide-out-widget-area-toggle.small .lines:after {
    top: -6px;
}

#header-outer .left-aligned-ocm .lines:before, body #header-outer .slide-out-widget-area-toggle.mobile-icon .lines:before, body[data-slide-out-widget-area-style=slide-out-from-right-hover] .slide-out-widget-area-toggle.mobile-icon .lines:before{
	width: 100%!important;
}

body #header-outer .icon-salient-search:before, body.material #header-outer .icon-salient-search:before {
    content: "";
    background: url(/wp-content/uploads/2022/02/searchicon-01.svg);
    display: block;
    width: 24px;
    height: 24px;
}

.container, body[data-header-format="left-header"] .container, .woocommerce-tabs .full-width-content .tab-container, .nectar-recent-posts-slider .flickity-page-dots, .post-area.standard-minimal.full-width-content .post .inner-wrap, .material #search-outer #search {
    max-width: 100%;
}

#header-space {
    display:block;
}

.bannerText p{
	font-family: 'Sentinel Pro'!important;
	font-size:16px;
}

.bannerText a{
	color:#ff0060;
	font-family: 'Gotham';
	font-weight:500;
	letter-spacing:3px;
	text-transform:uppercase;
	text-decoration:none;
	font-size: 11px;
	display: inline-block;
}

.bannerText a:hover{
	color:#000000;
}

.pipe{
	padding:0px 15px;
}

body #slide-out-widget-area .inner .off-canvas-menu-container li a, body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a, body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a, body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a, body #nectar-ocm-ht-line-check{
	font-family: 'Sentinel Pro'!important;
	font-weight:300;
}

.divider-wrap .divider-vertical {
    width: 1px;
    margin: 5px auto;
}

a.genBut {
    color: #ff0060!important;
    font-family: 'Gotham'!important;
    font-weight: 500!important;
    letter-spacing: 3px!important;
    text-transform: uppercase!important;
    text-decoration: none;
    font-size: 10px!important;
    display: inline-block;
	background-color:transparent!important;
	padding:0px!important;
}

a.genBut:hover{
	color:#000000!important;
}

.iconRow{
	max-width:1240px;
	margin:auto;
}

.testimonial_slider[data-style=minimal] .testimonial-next-prev .prev {
    position: absolute;
    top: 0%;
    height: 40px;
    width: 40px;
    font-size: 25px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-100%);
    margin-top: -70px;
    left: 49%;
    margin-left: -10px;
    color: inherit;
    text-align: center;
    transform: rotate(90deg);
}

.testimonial_slider[data-style=minimal] .testimonial-next-prev .next {
    position: absolute;
    top: inherit;
	bottom:-30%;
    height: 40px;
    width: 40px;
    font-size: 25px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-100%);
    margin-top: -70px;
    left: 49%;
    margin-left: -10px;
    color: inherit;
    text-align: center;
    transform: rotate(90deg);
}

.testimonial_slider[data-style=minimal] .slides {
    max-width: 100%;
    margin: 0 auto;
}

.testimonial_slider blockquote p {
    padding-bottom: 30px;
    line-height: 1.5;
    color: #66757f;
    font-style: italic;
    font-family: 'Sentinel Pro'!important;
    font-size: 24px;
    font-weight: 300;
}

body .testimonial_slider[data-style="minimal"] blockquote span.title {
    font-style: italic;
    color: #a9b6be;
	 font-family: 'Sentinel Pro'!important;
    font-size: 18px;
    font-weight: 300;
}

body #footer-outer .row {
    padding: 30px 0px 5px 0;
}

#footer-widgets img{
	margin-bottom:0px!important;
	max-width:170px;
}

#block-10{
	margin-bottom:0px!important;
}

.ftrMessage{
	font-family: 'Gotham';
	font-weight:500;
	letter-spacing: 5px;
    font-size: 11px;
}

#menu-footer-menu li a, .material #footer-outer .widget li a{
	font-family: 'Sentinel Pro'!important;
    font-size: 14px!important;
    font-weight: 400!important;
    text-transform: lowercase!important;
    letter-spacing: 0px;
}

.ftrcolR {
    text-align: right;
    font-size: 12px;
	font-family: 'Sentinel Pro'!important;
}

.ftrcolR a {
	text-decoration:none;
}


.ftrcolL {
    text-align: left;
    font-size: 12px;
	font-family: 'Sentinel Pro'!important;
}

.ftrcolL a {
	text-decoration:none;
}

.full-width-section>.col.span_12.dark .nectar-post-grid[data-text-color=light] .nectar-post-grid-item .content *, .nectar-post-grid[data-text-color=light] .nectar-post-grid-item .content * {
    color: #000;
}

.nectar-post-grid[data-text-hover-color=light] .nectar-post-grid-item:hover .content * {
    color: #000;
}

#homenews .nectar-post-grid-item .content {
    max-width: 50%;
    display: inline-block;
    width: 50%;
    float: left;
	background-color:#f7f8fc;
	padding:30px;
	min-height: 373px;
}

#homenews .nectar-post-grid-item .nectar-post-grid-item-bg-wrap {
    max-width: 50%;
    display: inline-block;
    width: 50%;
    float: right;
}

#homenews .nectar-post-grid .nectar-post-grid-item .content .post-heading {
    max-width: 100%;
    font-size: 18px;
    font-weight: 500!important;
	margin-bottom:30px;
}

#homenews .nectar-post-grid[data-text-color=light] .nectar-post-grid-item .content * {
    display: inline-block;
}

.meta-date{
    color: #859096!important;
    font-size: 11px!important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Gotham'!important;
	margin-bottom:15px;
}

#homenews .nectar-post-grid .nectar-post-grid-item .item-meta-extra {
    margin-top: 0px;
	font-size: 12px;
    font-weight: 500;
    font-family: 'Gotham'!important;
	line-height:2;
}

#homenews .inner{
    display: inline-block;
    max-width: 97%;
    max-height: 360px;
    margin-bottom: 15px;
}

.nectar-post-grid .nectar-post-grid-item .item-meta-extra {
    margin-top: 0px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Gotham'!important;
    line-height: 2;
}

.page-id-717 h3.post-heading{
	font-size:22px!important;
}

body #sidebar h4, body .widget h4, body #footer-outer .widget h4, .job-title {
    text-transform: capitalize!important;
    color: #000000!important;
    font-family: 'Sentinel Pro'!important;
    font-weight: 300!important;
    font-style: normal;
    opacity: 1;
    letter-spacing: 0px;
    font-size: 28px;
}

#sidebar div ul li a {
    display: block;
    text-transform: inherit;
    letter-spacing: 0px;
}

#sidebar div ul li {
    border: none;
    padding: 4px 0;
    list-style: circle;
    margin-left: 20px;
}


.nectar-post-grid[data-columns="4"][data-masonry=yes] {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(30vh,auto);
}

.nectar-post-grid[data-text-layout*=all_bottom_left] .content .item-main, .nectar-post-grid-wrap:not([data-style=content_overlaid]) .content .item-main {
    width: 100%;
    z-index: 99;
}

.nectar-link-underline, .share{
	display:inline-block;
	color: #000000;
    font-family: 'Gotham'!important;
    font-weight: 500!important;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    background-color: transparent!imporetant;
    padding: 0px!important;
}

.nectar-link-underline:before, .share:before {
    content: '|';
    text-align: center;
    display: block;
}

.nectar-link-underline:hover, .share:hover{
	color: #ff0060!important;
}

.share{
	margin-left:15px;
}

.share a{
	display:block;
}

.socialFooter li{
display:inline-block;
	margin:0px 15px;
}

.sjb-page .list-data .v1 .job-info h4 a, .sjb-page .list-data .v2 .job-info h4 a{
	text-decoration:none;
}

.company-logo{
	display:none;
}

.job-date{
	text-align:right;
	font-weight: 500;
    font-family: 'Gotham'!important;
    vertical-align: middle;
	font-size:12px!important;
}
.sjb-page .list-data .v1 .job-date i{
	float:right;
	margin-left:10px;
}

.sjb-page .col-md-11 {
    width: 100%;
}

.sjb-page .list-data .v1 .job-description p, .sjb-page .sjb-detail .list-data .v1 .jobpost-form label {
    color: #000;
    font-size: 14px;
    margin: 0 0 10px;
    word-wrap: break-word;
	font-family: 'Gotham'!important;
}

.page-id-724 .sjb-page .btn {
    color: #ff0060!important;
    font-family: 'Gotham'!important;
    font-weight: 500!important;
    letter-spacing: 3px!important;
    text-transform: uppercase!important;
    text-decoration: none;
    font-size: 10px!important;
    display: inline-block;
    background-color: transparent!important;
    padding: 0px!important;
}

.btn.btn-primary.app-submit{
	color: #ffffff!important;
    font-family: 'Gotham'!important;
    font-weight: 500!important;
    letter-spacing: 3px!important;
    text-transform: uppercase!important;
    text-decoration: none;
    font-size: 10px!important;
    padding: 15px 30px 10px 30px!important;
    line-height: 1;
}

.page-id-724 .sjb-page .btn-primary, .page-id-724 .sjb-page .btn-primary, .page-id-724 .sjb-page .btn-primary:hover{
	background-color: transparent!important;
}

.page-id-724 .sjb-page .btn-primary:hover{
	color:#000000!important;
}

.sjb-page .sjb-detail .list-data .v1 h3{
	text-transform: capitalize!important;
    color: #000000!important;
    font-family: 'Sentinel Pro'!important;
    font-weight: 300!important;
    font-style: normal;
    opacity: 1;
    letter-spacing: 0px;
    font-size: 28px;
}

.container-wrap input[type=text], .container-wrap input[type=email], .container-wrap input[type=password], .container-wrap input[type=tel], .container-wrap input[type=url], .container-wrap input[type=search], .container-wrap input[type=date], .container-wrap input[type=number], .container-wrap textarea, .container-wrap select, body > #review_form_wrapper.modal input[type=text], body > #review_form_wrapper.modal textarea, body > #review_form_wrapper.modal select, body > #review_form_wrapper.modal input[type=email], .select2-container--default .select2-selection--single, body[data-fancy-form-rcs="1"] .select2-container--default .select2-selection--single, .woocommerce input#coupon_code, .material.woocommerce-page[data-form-style="default"] input#coupon_code, body[data-form-style="minimal"] input[type="text"], body[data-form-style="minimal"] textarea, body[data-form-style="minimal"] input[type="email"], body[data-form-style="minimal"] input[type=password], body[data-form-style="minimal"] input[type=tel], body[data-form-style="minimal"] input[type=url], body[data-form-style="minimal"] input[type=search], body[data-form-style="minimal"] input[type=date], body[data-form-style="minimal"] input[type=number], body[data-form-style="minimal"] select{
	background-color: #ffffff;
	border:1px solid #000000;
	border-radius:0px;
	min-height:50px;
}

body[data-button-style=rounded] .container-wrap button[type=submit], body[data-button-style=rounded] .container-wrap input[type=submit] {
    padding: 16px 23px!important;
    color: #ffffff!important;
    font-family: 'Gotham'!important;
    font-weight: 500!important;
    letter-spacing: 3px!important;
    text-transform: uppercase!important;
    text-decoration: none;
    font-size: 10px!important;
    padding: 15px 30px 10px 30px!important;
    line-height: 1;
}
