/* Overriding WordPress native styles */

.ocdi {
	max-width: none;
}

.ocdi h2 {
	text-align: inherit;
}

.ocdi h2:first-child,
.ocdi h3:first-child {
	margin-top: 0;
}

.ocdi hr {
	margin: 2.62em 0;
}

.feature-section + hr {
	margin-top: 0;
}

#wpbody select {
	height: auto;
	padding: .62em;
	line-height: inherit;
}

.ocdi .notice {
	display: block !important;
}

/* Plugin elements */

.ocdi__demo-import-files {
	width: 100%;
}

.ocdi__demo-import-preview-image-message {
	font-style: italic;
}

/* Plugin title */

.ocdi__title:before {
	width: auto;
	height: auto;
	font-size: inherit;
}

/* Plugin intro text */

.ocdi__intro-text ul {
	padding: 0 4%;
	list-style-type: square;
}

/* Plugin switch import mode link*/
.ocdi__import-mode-switch {
	float: right;
}

/* Plugin multi select import and Plugin file upload containers */

.ocdi__file-upload,
.ocdi__multi-select-import,
.ocdi__demo-import-notice:not(:empty) {
	padding: 4%;
	margin: 1.62em 0;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.ocdi__file-upload {
	margin: 0;
	margin-bottom: -1px;
}

.ocdi__file-upload span {
	font-size: .81em;
	font-weight: normal;
	opacity: .66;
}

.ocdi__demo-import-notice:not(:empty) {
	border: 0;
	border-left: 4px solid #00a0d2;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

[dir="rtl"] .ocdi__demo-import-notice:not(:empty) {
	border: 0;
	border-right: 4px solid #00a0d2;
}

/* Plugin button */

.ocdi__button-container {
	margin-top: 1.62em;
}

/* AJAX loader */

p.ocdi__ajax-loader {
	font-size: 1.5em;
	display: none;
}

.ocdi__ajax-loader .spinner {
	display: inline-block;
	float: none;
	visibility: visible;
	margin-bottom: 6px;
}


/* New grid layout */

.ocdi__gl-navigation li a {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ocdi__gl-item {
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	position: relative;

	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.ocdi__gl-item-image-container {
	display: block;
	overflow: hidden;
	position: relative;
	-webkit-backface-visibility: hidden;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.ocdi__gl-item-image {
	height: auto;
	width: 100%;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.ocdi__gl-item-image--no-image {
	display: inline-block;
	width: 50%;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 25%;
	left: 25%;
}

.ocdi__gl-item-footer {
	height: 30px;
	margin: 0;
	padding: 10px 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	background: #ffffff;
	background: rgba(255,255,255,0.65);
}

h4.ocdi__gl-item-title {
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	margin: 6px 0 0 0;
}

.ocdi__gl-item-footer--with-preview h4.ocdi__gl-item-title {
	width: calc(100% - 140px);
    font-size: 13px;
    font-weight: 500;
    color: #505050;
}

.ocdi__gl-item-button {
	float: right;
}

.ocdi__gl-item-button + .ocdi__gl-item-button {
	margin-right: 5px;
}

@media (max-width: 782px) {
	h4.ocdi__gl-item-title,
	.ocdi__gl-item-footer--with-preview h4.ocdi__gl-item-title {
		width: 100%;
		margin-bottom: 10px;
	}

	.ocdi__gl-item-button {
		width: calc(50% - 10px);
		margin-bottom: 10px;
	}

	.ocdi__gl-item-button + .ocdi__gl-item-button {
		float: left;
	}

	.ocdi__gl-item-footer {
		height: 72px;
	}
}

.ocdi__gl-header {
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.ocdi__gl-navigation {
	font-size: 13px;
	width: 100%;
	float: left;
}

.ocdi__gl-navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.ocdi__gl-navigation li {
	float: left;
	margin: 0 15px;
}

.ocdi__gl-navigation li.active a,
.ocdi__gl-navigation li.active a:hover {
	border-bottom: 4px solid #666666;
}

.ocdi__gl-navigation li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #444444;
	border-bottom: 4px solid #ffffff;
	padding: 15px 0;
}

.ocdi__gl-navigation li a:hover {
	color: #00a0d2;
	border-bottom: 4px solid #ffffff;
	cursor:pointer;
}

.ocdi__gl-search-input {
	width: 100%;
	margin: 10px 0;
}

@media (min-width: 640px) {
	.ocdi__gl-navigation {
		width: calc(100% - 180px);
	}

	.ocdi__gl-navigation li {
		margin: 0;
	}

	.ocdi__gl-navigation li a {
		padding: 15px;
	}

	.ocdi__gl-search-input {
		display: inline-block;
		width: 180px;
		height: 30px;
		margin: 0;
		margin-top: 11px;
	}

	.ocdi__gl-item-container {
		margin-right: -20px;
	}

	.ocdi__gl-item {
		width: calc(50% - 30px);
		margin: 0 30px 30px 0;
	}

	.ocdi__gl-item[data-name="header demo 5"], .ocdi__gl-item[data-name="header demo 14"], .ocdi__gl-item[data-name="header demo 15"] {
		width: calc(33.333% - 30px);
		margin: 0 30px 30px 0;
	}
}

@media (min-width: 1120px) {
	.ocdi__gl-item-container {
		margin-right: -30px;
	}

	.ocdi__gl-item {
		width: calc(33.333% - 30px);
		margin: 0 30px 30px 0;
	}
	.ocdi__gl-item[data-categories="headers"] {
		width: calc(50% - 30px);
		margin: 0 30px 30px 0;
	}
	.ocdi__gl-item[data-categories="layout"] {
		width: calc(25% - 30px);
		margin: 0 30px 30px 0;
	}
	.ocdi__gl-item[data-name="header demo 5"], .ocdi__gl-item[data-name="header demo 14"], .ocdi__gl-item[data-name="header demo 15"] {
		width: calc(25% - 30px);
		margin: 0 30px 30px 0;
	}

}

/* Grid animations */
@keyframes ocdi-fade {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.ocdi-is-fadeout {
	animation: ocdi-fade linear 200ms 1 forwards;
}

.ocdi-is-fadein {
	animation: ocdi-fade linear 200ms 1 reverse forwards;
}

/* Grid layout modal window */

.ocdi__modal-image-container {
	width: 100%;
	height: 180px;
	margin: 0;
	overflow: hidden;
}

.ocdi__modal-item-title {
	margin-top: 0.5em;
	font-weight: bold;
}

.ocdi__modal-image-container img {
	width: 100%;
}

.ocdi__modal-notice.ocdi__demo-import-notice:not(:empty) {
	border: 1px solid #e5e5e5;
	border-left: 4px solid #00a0d2;
	margin: 1em 0 0;
}

/* Redux */
.ocdi__redux-option-name-label {
	margin-right: 5px;
}


/* Custom CSS */

.gusta-demo-wrap .section {
	background: #ffffff;
    padding: 40px 60px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.gusta-demo-wrap .section .input-hold input:first-child {
    width: 70%;
    height: 40px;
    margin-top:3px;
}

.gusta-demo-wrap .section .input-hold input.button {
    background-image: linear-gradient(to right,rgba(228,42,104,1) 0%,rgba(244,66,123,1) 100%) !important;
    flex: 1;
    margin: 3px;
    text-align: center;
    text-shadow: none;
    border: none;
    height: 40px;
    border-radius: 0px;
    font-size: 14px;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    box-shadow: none;
    width: 27%;
    float: right;
}

.gusta-demo-wrap .section .input-hold input.button:hover {
    margin-bottom: 6px;
    box-shadow: 1px 4px 10px rgba(236,49,112,0.35) !important;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    margin-top: 0px;
}

@media screen and (max-width: 630px) {

.gusta-demo-wrap .section .input-hold input.button {
    width: 100% !important;
    display: block !important;
    float: none !important;
}

.gusta-demo-wrap .section .input-hold input:first-child {
    width: 100% !important;
    display: block !important;
    float: none !important;
}

}

.verified-status input[name="gusta-new-purchase-code"] {
    color: #0073aa;
    text-decoration: underline;
    background-color: #fff;
    border: none;
    font-size: 12px;
}

.gusta-demo-wrap .section .gusta-import-notice {
    margin-top: 33px !important;
    font-size: 12px;
    background-color: #fff6d9;
    padding: 23px 30px 23px 60px;
    border: 1px solid #ffc800;
    border-radius: 7px;
    position: relative;
}

.gusta-demo-wrap .section .gusta-import-notice:before {
    content: "\f534";
    left: 20px;
    color: #FF9800;
    font-family: dashicons;
    position: absolute;
    top: 19px;
    font-size: 25px;
}

#purchase-code-status p {
    margin: 12px 3px 30px 3px;
}
.verified-status p {
    position: relative;
    padding-left: 19px;
}

.verified-status p:before {
    content: "\f160";
    left: -3px;
    color: #0ea004;
    font-family: dashicons;
    position: absolute;
    top: -4px;
    font-size: 19px;
}

.verified-status p strong {
    color: #0ea004;
}

.ocdi__gl.js-ocdi-gl {
    padding: 40px;
    background-color: #fff;
    margin-top: 15px;
}

.gusta-demo-divider {
    width: calc(100% - 30px);
    height: 1px;
    border-bottom: 1px solid #e6e0e0;
    margin-bottom: 50px;
    padding-top: 20px;
}

.gusta-demo-divider.dividerhide {
	border-bottom:none;
	margin-bottom:0;
	padding-top:0;
}